main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #D0F2F2;
}
section#position-files{
    display: flex;
    justify-content: center;
}
section#formularios{
    display: flex;
    justify-content: center;
}
select.selectores{
    width: 25vw;
    border: none; 
    background-color: whitesmoke;
    border-radius: 1rem;
    margin: 0 1rem;
    padding: 0.3rem;
    outline: none;
    transition: all .3s ease-in-out;
}
article.files{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: .5rem 0.5rem;
    transition: all .5s ease-in-out;
}
article.files:hover{
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    transform: scale(1.03);
}
article.files figure img{
    width: 100%;
}
section.info-tarea-and-news{
    width: 100%;
    /* height: 5rem; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top: 0.06rem solid #ebebeb;
    padding-left: 0.93rem;
    padding-right: 0.93rem;
    color: black;
}
p.titulo{
    display: flex;
    flex-flow: row wrap;
    padding-top: 0.3rem;
}
p.cronometro{
    font-size: .7rem;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}
p.info{
    width: 100%;
    color: #666;
    margin: .5rem 0;
}
section.buttons-list{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: .5rem;
}
a.detalle{
    width: 5rem;
    text-align: center;
    background-color: #048ABF;
    color: white;
    padding: .3rem;
    margin-top: .5rem;
    border-radius: .5rem;
    outline: none;
    transition: all .3s ease-in-out;
}
a.download{
    width: 5rem;
    text-align: center;
    background-color: #3EB595;
    color: white;
    padding: .3rem;
    margin-top: .5rem;
    border-radius: .5rem;
    outline: none;
    transition: all .3s ease-in-out;
}
a.detalle:hover{
    background-color: #103D88;
}
a.download:hover{
    background-color: #018067;
}
article.button-redirect-list-and-new{ 
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}
article.button-redirect-list-and-new a{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: .5rem;
    outline: none;
    transition: all .5s ease-in-out;
}
article.button-redirect-list-and-new a:hover{
    background-color: #048ABF;
    color: whitesmoke;
}
main h2{
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
section#news{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
article.news{
    width: 30%;
    margin: 1rem 0.5rem;
}
article.news img{
    width: 100%;
}
section.info-tarea-and-news{
    width: 100%;
}
section.button-detalle-new{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: .5rem 0;
}
section.button-detalle-new a{
    border-radius: .5rem;
    padding: .5rem;
    background-color: #048ABF;
    color: white;
    outline: none;
    transition: all .3s ease-in-out;
}
section.button-detalle-new a:hover{
    background-color: #103D88;
}
@media screen and (min-width: 768px) {
    article.files{
        width: 25%;
    }
    article#button-redirect-list a{
        width: 10vw;
    }
    a.detalle{
        width: 4rem;
        margin-right: .3rem;
    }
    a.download{
        width: 4rem;
    }
}
@media screen and (min-width: 1200px) {
    article.files{
        width: 20%;
    }
    section.info-tarea{
        height: 5rem;
    }
    a.detalle{
        width: 4.5rem;
    }
    a.download{
        width: 4.5rem;
    }
    article.news{
        width: 25%;
    }
}