<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")  %> 
<body>
    <%- include ("partials/header") %>
    <article id="contenedor_carga">
        <article id="carga"></article>
    </article>
    <script>
        window.onload = function(){
            let contenedor = document.getElementById("contenedor_carga")

            contenedor.style.visibility = "hidden";
            contenedor.style.opacity = "0";
        }
    </script>
    <main>
        <section id="formularios">
        <form action="">
            <select name="" class="selectores">
                <option value="" disabled>.</option>
                <option value="">Ciclo</option>
                <option value="primary">Primaria</option>
                <option value="secondary">Secundaria</option>
            </select>
            <select name="" class="selectores">
                <option value="">Materias</option>
                <option value="ambient">Ambiente</option>
                <option value="inglish">Ingles</option>
                <option value="math">Matematica</option>
                <option value="fisic">Fisica</option>
                <option value="chemistry">Quimica</option>
                <option value="philosofy">Filosofia</option>
                <option value="gym">Ed. Fisica</option>
                <option value="genetic">Genetica</option>
                <option value="civil-education">Ciudadania</option>
                <option value="languaje">Literatura</option>
            </select>
            <select name="" class="selectores">
                <option value="" disabled>.</option>
                <option value="">Año</option>
                <option value="1">1ro</option>
                <option value="2">2do</option>
                <option value="3">3ro</option>
                <option value="4">4to</option>
                <option value="5">5to</option>
                <option value="6">6to</option>
            </select>
        </form>
    </section>
    <section id="position-files">
        <article class="files">
            <a href="" download>
            <figure>
                <img src="/assets/img/PDF img.jpg" alt="">
            </figure>
            <section class="info-tarea-and-news">
                <p class="titulo"><strong>Titulo:</strong></p>
                <p class="cronometro">Cronometro</p>
                <p class="info">Info Tarea</p>
            </section>
        </a>
        </article>
        <article class="files">
            <a href="" download>
            <figure>
                <img src="/assets/img/WORD img.jpg" alt="">
            </figure>
            <section class="info-tarea-and-news">
                <p class="titulo"><strong>Titulo:</strong></p>
                <p class="cronometro">Cronometro</p>
                <p class="info">Info Tarea</p>
            </section>
        </a>
        </article>
        <article class="files">
            <a href="" download>
            <figure>
                <img src="/assets/img/MP4 img.png" alt="">
            </figure>
            <section class="info-tarea-and-news">
                <p class="titulo"><strong>Titulo:</strong></p>
                <p class="cronometro">Cronometro</p>
                <p class="info">Info Tarea</p>
            </section>
        </a>
        </article>
    </section>
        <section id="carousel-buttons">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
        </section>
    <hr>
        <h2>Diario Escolar</h2>
        <section id="news">
            <article class="news">
                <img src="/assets/img/acto escolar.jpg" alt="">
                <section class="info-tarea-and-news">
                    <p class="titulo"><strong>Titulo:</strong></p>
                    <p class="cronometro">Cronometro</p>
                    <p class="info">Info Noticia</p>
                </section>
            </article>
            <article class="news">
                <img src="/assets/img/acto escolar 1.jpg" alt="">
                <section class="info-tarea-and-news">
                    <p class="titulo"><strong>Titulo:</strong></p>
                    <p class="cronometro">Cronometro</p>
                    <p class="info">Info Noticia</p>
                </section>
            </article>
            <article class="news">
                <img src="/assets/img/acto escolar 2.jpg" alt="">
                <section class="info-tarea-and-news">
                    <p class="titulo"><strong>Titulo:</strong></p>
                    <p class="cronometro">Cronometro</p>
                    <p class="info">Info Noticia</p>
                </section>
            </article>
            <article class="news">
                <img src="/assets/img/acto escolar 3.jpg" alt="">
                <section class="info-tarea-and-news">
                    <p class="titulo"><strong>Titulo:</strong></p>
                    <p class="cronometro">Cronometro</p>
                    <p class="info">Info Noticia</p>
                </section>
            </article>
            <article class="news">
                <img src="/assets/img/campamento escolar.jpg" alt="">
                <section class="info-tarea-and-news">
                    <p class="titulo"><strong>Titulo:</strong></p>
                    <p class="cronometro">Cronometro</p>
                    <p class="info">Info Noticia</p>
                </section>
            </article>
            <article class="news">
                <img src="/assets/img/campamento escolar 1.jpg" alt="">
                <section class="info-tarea-and-news">
                    <p class="titulo"><strong>Titulo:</strong></p>
                    <p class="cronometro">Cronometro</p>
                    <p class="info">Info Noticia</p>
                </section>
            </article>
            <article class="news">
                <img src="/assets/img/olimpiadas.jpg" alt="">
                <section class="info-tarea-and-news">
                    <p class="titulo"><strong>Titulo:</strong></p>
                    <p class="cronometro">Cronometro</p>
                    <p class="info">Info Noticia</p>
                </section>
            </article>
            <article class="news">
                <img src="/assets/img/lluvia.jpg" alt="">
                <section class="info-tarea-and-news">
                    <p class="titulo"><strong>Titulo:</strong></p>
                    <p class="cronometro">Cronometro</p>
                    <p class="info">Info Noticia</p>
                </section>
            </article>
        </section>
    </main>
        <%- include ("partials/footer") %>  
    </body>
</html>