<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
    <!-- Style css/includes/blog/detail.css -->
<body>
    <%- include("../partials/header")  %> 
    <main id="detalle-new">
        <section id="card-new">
            <section id="cabecera">
                <p class="titulo"> Lorem ipsum dolor sit amet.</p>
                <p class="fecha"> 12/5/2021 </p>
            </section>
            <figure id="imagen">
                <img src="/assets/img/acto escolar 1.jpg" alt="">
            </figure>
        <article id="contenido">
                <p class="titulo"> Lorem ipsum dolor sit amet.</p>
                <p class="fecha"> 12/5/2021 </p>
                <p id="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi, rem quo veniam, adipisci maxime natus expedita quam blanditiis culpa temporibus saepe error esse, sint quasi quos. Mollitia iure iusto temporibus similique ut. Molestias error id eos in ipsum numquam minima odio cumque distinctio, vero magni, iusto expedita atque? Qui!</p> 
            <article id="section-info">
                <!-- agregar iconos de ubicacion y mas-->
        </article>
            <article id="button-redirect-list">
                <a href="/noticias/todas">Ver Mas</a>
            </article>
        </section>
    </main>
    <%- include("../partials/footer")  %> 
</body>
</html>