<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %> 
    <main id="new">
        <section id="filter-new">
            <form action="">
                <select name="level" class="selectores-list-new">
                    <option value="" disabled>.</option>
                    <option value="">Ciclo</option>
                    <option value="jardin">Jardin</option>
                    <option value="primary">Primaria</option>
                    <option value="secondary">Secundaria</option>
                </select>
                <select name="curses" class="selectores-list-new">
                    <option value="" disabled>.</option>
                    <option value="all">Año</option>
                    <option value="1">1ro</option>
                    <option value="2">2do</option>
                    <option value="3">3ro</option>
                    <option value="4">4to</option>
                    <option value="5">5to</option>
                    <option value="6">6to</option>
                </select>
                <select name="month" class="selectores-list-new">
                    <option value="" disabled>.</option>
                    <option value="all">Mes</option>
                    <option value="enero">Enero</option>
                    <option value="febrero">Febrero</option>
                    <option value="marzo">Marzo</option>
                    <option value="abril">Abril</option>
                    <option value="mayo">Mayo</option>
                    <option value="junio">Junio</option>
                    <option value="julio">Julio</option>
                    <option value="agosto">Agosto</option>
                    <option value="septiembre">Septiembre</option>
                    <option value="octubre">Octubre</option>
                    <option value="noviembre">Noviembre</option>
                    <option value="diciembre">Diciembre</option>
                </select>
                <select name="day" class="selectores-list-new">
                    <option value="" disabled>.</option>
                    <option value="all" >Dia</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
            </form>
        </section>
        <section id="news-list">
            <article class="new">
                <figure><img src="/assets/img/acto escolar 2.jpg" alt=""></figure>
                <section class="info-new">
                    <p class="titulo"><strong>Lorem ipsum dolor sit amet.</strong></p>
                    <p class="cronometro">12/5/2021</p>
                    <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe atque repudiandae nesciunt nisi vel minima incidunt sit reprehenderit quibusdam officiis nam voluptatibus amet, dicta omnis voluptates. Asperiores sint provident soluta.</p>
                    <section class="button-new">
                        <a href="/tareas/1" class="detalle">Detalle</a>
                    </section>
                </section>
            </article>
            <article class="new">
                <figure><img src="/assets/img/acto escolar 2.jpg" alt=""></figure>
                <section class="info-new">
                    <p class="titulo"><strong>Lorem ipsum dolor sit amet.</strong></p>
                    <p class="cronometro">12/5/2021</p>
                    <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe atque repudiandae nesciunt nisi vel minima incidunt sit reprehenderit quibusdam officiis nam voluptatibus amet, dicta omnis voluptates. Asperiores sint provident soluta.</p>
                    <section class="button-new">
                        <a href="/tareas/1" class="detalle">Detalle</a>
                    </section>
                </section>
            </article>
            <article class="new">
                <figure><img src="/assets/img/acto escolar 2.jpg" alt=""></figure>
                <section class="info-new">
                    <p class="titulo"><strong>Lorem ipsum dolor sit amet.</strong></p>
                    <p class="cronometro">12/5/2021</p>
                    <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe atque repudiandae nesciunt nisi vel minima incidunt sit reprehenderit quibusdam officiis nam voluptatibus amet, dicta omnis voluptates. Asperiores sint provident soluta.</p>
                    <section class="button-new">
                        <a href="/tareas/1" class="detalle">Detalle</a>
                    </section>
                </section>
            </article>
            <article class="new">
                <figure><img src="/assets/img/acto escolar 2.jpg" alt=""></figure>
                <section class="info-new">
                    <p class="titulo"><strong>Lorem ipsum dolor sit amet.</strong></p>
                    <p class="cronometro">12/5/2021</p>
                    <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe atque repudiandae nesciunt nisi vel minima incidunt sit reprehenderit quibusdam officiis nam voluptatibus amet, dicta omnis voluptates. Asperiores sint provident soluta.</p>
                    <section class="button-new">
                        <a href="/tareas/1" class="detalle">Detalle</a>
                    </section>
                </section>
            </article>
        </section>
    </main>
    <%- include("../partials/footer")  %> 
</body>
</html>