#main-create{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
#main-create h1{
    width: 100%;
    text-align: center;
}
#main-create hr{
    width: 80%;
}

#main-create form#form-create-file{
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#main-create form#form-create-file fieldset{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
#main-create form#form-create-file fieldset i{
    text-align: center;
    color: #D90B1C;
    background-color: white;
    padding: 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
#main-create form#form-create-file fieldset textarea{
    width: 100%;
    height: 20vh;
    color: #D90B1C;
    text-align: center;
    border: none;
    border-top: 1rem solid white;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    outline: none;
    overflow-y: scroll;
    resize: none;
}
#main-create form#form-create-file fieldset textarea::-webkit-scrollbar{
    width: .8rem;
    background-color: transparent;
  }
  #main-create form#form-create-file fieldset textarea::-webkit-scrollbar-thumb{
    background-color: #D90B1C;
    border-radius: 1rem;
  }
#main-create form input{
    width: 90%;
    height: 2.15rem;
    color: #D90B1C;
    background-color: white;
    border: none;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: all .1s ease-in-out;
}
#main-create form input:focus{
    border-bottom: 3px solid #D90B1C;
    outline: #D90B1C;
}
#main-create label#file {
    width: 25%;
    margin-bottom: 0.5rem ;
    display: flex;
    justify-content: center;
    background-color: white;
    color: #D90B1C;
    padding: 1rem;
    border-radius: 3%;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
#main-create label#file:hover {
    background-color: #D90B1C;
    color: #eaeaea;
  }
#main-create input#files {
    position: relative;
    display: none;
}
#main-create section#formularios{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
#main-create select.selectores{
    width: 50vw;
    border: none; 
    background-color: white;
    border-radius: 1rem;
    margin: 0 2rem 1rem 2rem;
    padding: 0.3rem;
}
#main-create select.selectores:focus{
    outline: none;
}
#main-create section#send-file-buttons{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
#main-create section button.button-file{
    width: 30%;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    margin: 0 1rem;
    background-color: white;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
#main-create i.fa-trash{
    color: #D90B1C;
}
#main-createi .fa-share-square{
    color: #3EB595;
}
#main-create section button#button-delete:hover{
    background-color: #D90B1C;
}
#main-create section button#button-submit:hover{
    background-color: #3EB595;
}
#main-create section button#button-delete:hover .fa-trash{
    color: whitesmoke;
}
#main-create section button#button-submit:hover i.fa-share-square{
    color: whitesmoke;
}
#main-createi .fa-book{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D90B1C;
    width: 10%;
    height: 2.15rem;
    background-color: white;
    border-right: grey solid 1px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
#main-create i.fa-stopwatch{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D90B1C;
    width: 10%;
    height: 2.15rem;
    background-color: white;
    border-right: grey solid 1px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
#main-create i.fa-user-alt{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D90B1C;
    width: 10%;
    height: 2.15rem;
    background-color: white;
    border-right: grey solid 1px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
@media screen and (min-width: 768px) {
    #main-create section button.button-file{
        width: 12%;
    }
    #main-create section button.button-file{
    width: 25%;
    }
}
@media screen and (min-width: 1200px) {
    #main-create section button.button-file{
        width: 15%;
    }
    #main-create section button.button-file{
        width: 25%;
    }
}