#main-detail{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
section#card{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
    margin: 1rem 0;
}
section#card #cabecera{
    display: flex;
}
section#card #imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

section#card #imagen img{
    max-width: 100%;
}

section#card #contenido .titulo{
    display: none;
}
section#card #contenido .fecha{
    display: none;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1200px) {
    section#card #cabecera{
        display: none;
    }

    section#card #contenido .titulo{
        display: flex;
    }
    section#card #contenido .fecha{
        display: flex;
    }
}