<footer>
    <section id="contactos">
        <h1>Contactos de los directivos</h1>
        <p>Marina Soba: <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGMGCVQrjtlNMzzbFpfzgQjtCqWlNfjbVwdbTmLxXvvCwLwVZHDXwbswfKrRzGXcwkRngSJ">marinasoba@hotmail.com</a></p>  
        <p>Rosana Garcia:</p>
        <p>Alicia: <a href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtXRHfnbFTnWlWkWQNQxsrjfPqWMCpvsSBNMqTVQWdsDRbdjfxQXwdCTVHbgNWRZknMDWV">aliciaelias77@gmail.com</a></p>
        <p>Charo:</p>
    </section>
    <hr>
    <section id="comentarios">
        <form action="">
            <textarea name="comentario" id="comentario" placeholder="Deja tu comentario"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </section>
</footer>