<footer>
    <section id="contactos">
        <h1>Contactos de los directivos</h1>
        <p>Marina Soba: <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGMGCVQrjtlNMzzbFpfzgQjtCqWlNfjbVwdbTmLxXvvCwLwVZHDXwbswfKrRzGXcwkRngSJ">marinasoba@hotmail.com</a></p>  
        <p>Rosana Garcia:</p>
        <p>Alicia: <a href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtXRHfnbFTnWlWkWQNQxsrjfPqWMCpvsSBNMqTVQWdsDRbdjfxQXwdCTVHbgNWRZknMDWV">aliciaelias77@gmail.com</a></p>
        <p>Charo:</p>
    </section>
    <hr>
    <section id="comentarios">
        <form action="">
            <textarea name="comentario" id="comentario" placeholder="Deja tu comentario"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </section>
    <!-- <section id="copy">
        <h2>Four Coders</h2>
        <ul id="slider">
            <li id="slider1">
                <figure>
                    <img src="/assets/img/EDU.jpg" alt="">
                </figure>
                    <p>Eduardo Virgilio</p>
            </li>
            <li id="slider2">
                <figure>
                    <img src="/assets/img/DELFI.jpg" alt="">
                </figure>
                <p>Delfina Casarino</p>
            </li>
            <li id="slider3">
                <figure>
                    <img src="/assets/img/NEGRO.jPG" alt="">
                </figure>
                <p>Martin Williner</p>
            </li>
            <li id="slider4">
                <figure>
                    <img src="/assets/img/ROMAN.jpg" alt="">
                </figure>
                <p>Roman Borla</p>
            </li>
        </ul>
        <ul id="buttons-slider">
            <a href="#slider1">1</a>
            <a href="#slider2">2</a>
            <a href="#slider3">3</a>
            <a href="#slider4">4</a>
        </ul>
    </section> -->
</footer>