<header>
    <figure id="image">
        <a href="/"><img src="/assets/img/logo.png" alt=""></a>
    </figure>
    <p id="mensaje-bienvenida">Bienvenido a tu blog Escolar</p>
    <nav id="icons">
        <a href="/"><i class="fas fa-home"></i></a>
        <a href="/usuario/register"><i class="fas fa-user"></i></a>
        <a href="/createFile"><i class="fas fa-plus"></i></a>
    </nav>
    
    <nav id="burguer-menu">
        <a href="#"><i class="fas fa-bars"></i></a>
        <!-- <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/register">Register</a></li>
        </ul> -->
    </nav>
</header>