<header>
    <figure id="image">
        <a href="/"><img src="/assets/img/logo.png" alt=""></a>
    </figure>
    <p id="mensaje-bienvenida">Bienvenido a tu blog Escolar</p>
    <nav id="icons">
        <a href="#"><i class="fas fa-times"></i></a>
        <a href="/"><i class="fas fa-home"></i></a>
        <% if (user != null) { %>
            <a href="/usuario/profile"><i class="fas fa-user"></i></a>
        <% } else { %>        
            <a href="/usuario/unirse"><i class="fas fa-user"></i></a>
        <% } %>
        <% if (user != null && user.role != 6) { %>
            <a href="/tareas/nueva"><i class="fas fa-plus"></i></a>
            <a href="/noticias/nueva"><i class="far fa-newspaper"></i></i></a>
        <% } else if (user != null && user.role == 6) { %>
            <a href="/tareas/todas"><i class="fas fa-book"></i></a>
            <a href="/noticias/todas"><i class="fas fa-newspaper"></i></i></a>
        <% } %> 
    </nav>
    
    <nav id="burguer-menu">
        <a href="#icons"><i class="fas fa-bars"></i></a>
    </nav>
</header>
<%- include("./preload") %>