main#profile{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
main#profile h1{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}
label#img-profile{
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    color: #FF604D;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    transition: all .5s ease-in-out;
  }
  input#profile {
    position: relative;
    display: none;
}
label#img-profile i{
    font-size: 5rem;
}