main#register{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
main#register h1{
    width: 100%;
    text-align: center;
}
main#register hr{
    width: 80%;
}
main#register form#form-register{
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
main#register form input.formulario{
    color: #3EB595;
    width: 90%;
    height: 2.15rem;
    border: none;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: all .1s ease-in-out;
}
main#register form input:focus{
    border-bottom: 3px solid #3EB595;
    outline: #3EB595;
}
main#register form input.formulario-register-password{
    color: #3EB595;
    width: 80%;
    height: 2.15rem;
    border: none;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: all .1s ease-in-out;
}
main#register form input:focus{
    border-bottom: 3px solid #3EB595;
    outline: #3EB595;
}
main#register fieldset{
    width: 10%;
    display: flex;
    padding: 0;
}
main#register button.view-password-register{
    width: 100%;
    height: 2.15rem;
    color: #3EB595;
    background-color: white;
    border: none;
    cursor: pointer;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    transition: all .5s ease-in-out;
}
main#register button.view-password-register:hover{
    background-color: #3EB595;
    color: white;
}
main#register section#buttons-register{
    width: 80%;
    display: flex;
    justify-content: center;
}
main#register form button.button-register{
    width: 30%;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    margin: 0 1rem;
    background-color: white;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
main#register i.fa-trash{
    color: #D90B1C;
}
main#register i.fa-share-square{
    color: #3EB595;
}
main#register form button#button-delete:hover{
    background-color: #D90B1C;
}
main#register form button#button-submit:hover{
    background-color: #3EB595;
}
main#register form button#button-delete:hover .fa-trash{
    color: whitesmoke;
}
main#register form button#button-submit:hover i.fa-share-square{
    color: whitesmoke;
}

main#register i.fa-user-alt{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3EB595;
    width: 10%;
    height: 2.15rem;
    background-color: white;
    border-right: grey solid 1px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
main#register i.fa-envelope{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3EB595;
    width: 10%;
    height: 2.15rem;
    background-color: white;
    border-right: grey solid 1px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
main#register i.fa-lock{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3EB595;
    width: 10%;
    height: 2.15rem;
    background-color: white;
    border-right: grey solid 1px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

main#register nav#button-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
main#register nav#button-login a{
    color: white;
    background-color: #3EB595;
    padding: .5rem;
    margin: 0 .5rem;
    border-radius: .5rem;
    transition: all .5s ease-in-out;
}
main#register nav#button-login a:hover{
    background-color: #018067;
}
@media screen and (min-width: 1200px) {
    main#register form button.button-register{
        width: 20%;
    }
}