main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
h1{
    width: 100%;
    text-align: center;
}
form#create-news{
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
label#news {
    width: 25%;
    margin-bottom: 0.5rem ;
    display: flex;
    justify-content: center;
    background-color: white;
    color: #56268D;
    padding: 1rem;
    border-radius: 3%;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  label#news:hover {
    background-color: #56268D;
    color: #eaeaea;
  }
  input#news {
    position: relative;
    display: none;
}
form input{
    color: #56268D;
    width: 90%;
    height: 2.15rem;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: all .1s ease-in-out;
}
form input:focus{
    border-bottom: 3px solid #56268D;
    outline: #56268D;
}
form input.input-form{
    background-color: white;
}
textarea{
    color: #56268D;
    width: 90%;
    border: none;
    border-radius: 0.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
    outline: none;
    resize: none;
}
section#buttons-news{
    width: 80%;
    display: flex;
    justify-content: center;
}
form button.button-new{
    width: 30%;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    margin: 0 1rem;
    background-color: white;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
i.fa-ban{
    color: #D90B1C;
}
i.fa-newspaper{
    color: #3EB595;
}
form button#delete-new:hover{
    background-color: #D90B1C;
}
form button#submit-new:hover{
    background-color: #3EB595;
}
form button#delete-new:hover .fa-ban{
    color: whitesmoke;
}
form button#submit-new:hover i.fa-newspaper{
    color: whitesmoke;
}
@media screen and (min-width: 768px) {
    main h1{
        font-size: 1.5rem;
    }
    form button.button-new{
        width: 25%;
    }
}
@media screen and (min-width: 1200px) {
    form#create-news{
        width: 50%;
    }
    label#news{
        width: 25%;
    }
    form input{
        width: 90%;
    }
    textarea{
        width: 70%;
    }
}