<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %> 
    <main id="main-detail">
        <section id="card">
            <section id="cabecera">
                <p class="titulo"> Lorem ipsum dolor sit amet.</p>
                <p class="fecha"> 12/5/2021 </p>
            </section>
            <figure id="imagen">
                <img src="/assets/img/PDF img.jpg" alt="">
            </figure>
        <article id="contenido">
                <p class="titulo"> Lorem ipsum dolor sit amet.</p>
                <p class="fecha"> 12/5/2021 </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi, rem quo veniam, adipisci maxime natus expedita quam blanditiis culpa temporibus saepe error esse, sint quasi quos. Mollitia iure iusto temporibus similique ut. Molestias error id eos in ipsum numquam minima odio cumque distinctio, vero magni, iusto expedita atque? Qui!</p> 
            <article id="section-info">
                <span><i class="fas fa-graduation-cap"></i><p id="ciclo">Secundario</p></span>
                <span><i class="fas fa-calendar-week"></i><p id="año">6to</p></span>
                <span><i class="fas fa-chalkboard-teacher"></i><p id="profesor">Lorena</p></span>
                <span><i class="fas fa-bookmark"></i><p id="materia">Ingles</p></span>
            </article>
            <section class="button-download">
                    <a href="/assets/img/PDF img.jpg" class="download" download="">Descargar</a></section>
            </section>
        </article>
            <article id="button-redirect-list">
                <a href="/tareas/todas">Ver Mas</a>
            </article>
        </section>
    </main>
    <%- include("../partials/footer")  %> 
</body>
</html>