<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %> 
    <main>
        <section id="card">
            <article id="card-detaill">
                <section id="cabecera">
                    <p id="titulo"> Lorem ipsum dolor sit amet.</p>
                    <p id="fecha"> 12/5/2021 </p>
                </section>
                <section id="img">
                    <figure>
                        <img src="/assets/img/PDF img.jpg" alt="">
                    </figure>
                </section>
                <section id="info-detaill"> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi, rem quo veniam, adipisci maxime natus expedita quam blanditiis culpa temporibus saepe error esse, sint quasi quos. Mollitia iure iusto temporibus similique ut. Molestias error id eos in ipsum numquam minima odio cumque distinctio, vero magni, iusto expedita atque? Qui!</p> 
                </section>
            </article>
        </section>
            <article id="button-redirect-detaill">
                 <a href="/tareas/todas">Ver Mas</a>
            </article>
    </main>
    <%- include("../partials/footer")  %> 
</body>
</html>