<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %>
    <main id="profile"> 
        <h1>Bienvenido a tu Perfil Escolar</h1>
        <label id="img-profile">
            <i class="fas fa-camera"></i>
            <input name="img-profile" type="file" id="profile" multiple>
        </label>
        <form action="">
            <label for="">
                <i class="fas fa-user-graduate"></i><input type="text"><button><i class="fas fa-pencil-alt"></i></button>
            </label>
            <label for="">
                <i class="fas fa-user-alt"></i><input type="text"><button type="button"><i class="fas fa-pencil-alt"></i></button>
            </label>
            <label for="">
                <i class="fas fa-envelope"></i><input type="email"><button type="button"><i class="fas fa-pencil-alt"></i></button>
            </label>
            <label for="">
                <select name="" id="">
                    <option value="jardin">jardin</option>
                    <option value="primaria">primaria</option>
                    <option value="secundaria">secundaria</option>
                </select>
            </label>
            <label for="">
                <select name="" id="">
                    <option value="">1ro</option>
                    <option value="">2do</option>
                    <option value="">3ro</option>
                    <option value="">4to</option>
                    <option value="">5to</option>
                    <option value="">6to</option>
                </select>
            </label>
            <label for="">
                <i class="fas fa-user-lock"></i><input type="password"><button type="button"><i class="fas fa-pencil-alt"></i></button>
            </label>
            <section id="button-exit">
                <button type="button" class="button-exit-delete"><i class="fas fa-door-open"></i></button>
                <button type="reset" class="button-exit-delete"><i class="fas fa-times-circle"></i></button>
                <button type="submit" id="button-submit"><i class="fas fa-sign-in-alt"></i></button>
            </section>
        </form>
    </main>
    <%- include("../partials/footer")  %>
</body>
</html>