<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %> 
<body>
    <%- include("../partials/header")  %>
    <main id="profile"> 
        <h1>Bienvenido a tu Perfil Escolar</h1>
        <label id="img-profile">
            <i class="fas fa-camera"></i>
            <input name="img-profile" type="file" id="profile" multiple>
        </label>
        <form action="">
            <label for="">
                <i class="fas fa-user-graduate"></i><input type="text"><i class="fas fa-pencil-alt"></i>
            </label>
            <label for="">
                <i class="fas fa-user-alt"></i><input type="text"><i class="fas fa-pencil-alt"></i>
            </label>
            <label for="">
                <i class="fas fa-envelope"></i><input type="email"><i class="fas fa-pencil-alt"></i>
            </label>
            <label for="">
                <select name="" id="">
                    <option value="jardin">jardin</option>
                    <option value="primaria">primaria</option>
                    <option value="secundaria">secundaria</option>
                </select><i class="fas fa-pencil-alt"></i>
            </label>
            <label for="">
               <input type="text"><i class="fas fa-pencil-alt"></i>
            </label>
            <label for="">
                <i class="fas fa-user-lock"></i><input type="password"><i class="fas fa-pencil-alt"></i>
            </label>
        </form>
    </main>
    <%- include("../partials/footer")  %>
</body>
</html>




<i class="fas fa-user-edit"></i>

<i class="fas fa-edit"></i>

